/* daviti css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.partner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 269px;

}

.partner .left{
    display: flex;
    flex-direction: column;
    gap: 60px;
    transform: translatey(-175px);

}
.partner .left h1{
    font-size: 32px;
}

.partner .left p{
    font-size: 16px;
    width:463px;
}
.partner .left p span{
color: lightblue;
}
.partner .right {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 25px;
    height: 350px;
}
.partner .right img {
    width: 219px;
    height: 82px;
    object-fit: cover;
}
.footer{
    background-color:#0A22F4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 269px;
   padding-right: 300px;
}
.footer .marcxena{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(-170px);
}

.footer .marcxena h1{
    font-size: 32px;
    color: white;
}
.footer .marcxena p{
    max-width: 463px;
    max-height: 99px;
    color: white;
    
}
.footer .marcxena p span{
    color: lightblue;
}
footer .marcxena a{
    color: white;
}
.footer .marjvena{
    display: flex;
    flex-direction: column;
    gap: 81px;
    color: white;
}
.nav li{
    display: inline-block;;
}
.footer .nav{
    display: flex;
    gap: 188px;
    font-size: 22px;
}



   






 



